body {
    font-family: Arial;
    margin: 0;
}
.texto{
    text-align: left;
}
@media (min-width: 768px){}
.well>.col-sm-3 {
}
.well {
    width:100%;
    max-height:900px;
    max-width:1200px;
    border-color: transparent;
    background-color: transparent;
    box-shadow: inset 0px 0px 7px rgba(0,0,0,0.5);
    border-radius: 10px 10px 10px 10px;
}
 #thumbs { padding-top: 10px; overflow: hidden; }
    #thumbs img {
        border: 1px solid gray;
        padding: 4px;
        background-color: white;
        cursor: pointer;
    }
    .swatch {
        width:50px;
        height:50px;
        border-radius:100px;
        border: 2px solid #666;
    }
    .swatch2 {
        width:50px;
        height:50px;
        border-radius:5px;
        border: 2px solid #666;
    }
    .swatch-clickable:hover {
        border: 2px solid #000;
        cursor: pointer;

    }

    .dropdown-menu {
        padding:8px;
    }
*{
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
hr.antes { 

    border-bottom: 1px solid; 

}
hr.puntos{
    border: 0.5px dotted gray;
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}