<link rel="stylesheet" href="src/modules/modelos/detalle.css" />
<style>
    #thumbs { padding-top: 10px; overflow: hidden; }
    #thumbs img {
        border: 1px solid gray;
        padding: 4px;
        background-color: white;
        cursor: pointer;
    }
    .swatch {
        width:50px;
        height:50px;
        border-radius:100px;
        border: 2px solid #666;
    }
    .swatch2 {
        width:100px;
        height:50px;
        border-radius:100px;
        border: 2px solid #666;
    }
    .swatch-clickable:hover {
        border: 2px solid #000;
        cursor: pointer;
    }

    .dropdown-menu {
        padding:10px;
    }
</style>
<div class="row" ng-if="itemActual !== null">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        <div class="well">
            <div class="row">
                <div class=" col-xs-7" > 
                    <div class="row text-center" >
                        <br>
                        <div class="row text-center">
                            <div class="col-xs-2"></div>
                            <div class="col-xs-8 text-center">
                                <div class="container" style="height: 25em;width: 100%">
                                    <img src="{{imagen}}" style=" max-height:100%;max-width: 100%" alt="{{referencia}}" />
                                </div>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                    </div>
                    <br>
                    <div class="row text-center">
                        <div id="thumbs">
                            <div class=" col-xs-2"ng-if="imagenes.length > 1" >
                                <br>
                                <a  ng-click ="prevImagen()" class="btn btn-primary" ng-disabled="ini === 0">
                                    <span class="glyphicon glyphicon-triangle-left" style="font-size: 3em"></span></a>
                            </div>
                            <div class=" col-xs-2" ng-if=" actuales[0] !== undefined && actuales[0] !== null" >
                                <img ng-src="{{actuales[0]}}" class="img-thumbnail" ng-click="mostrarImagen(actuales[0])">
                            </div>
                            <div class=" col-xs-2" ng-if=" actuales[1] !== undefined && actuales[1] !== null" >
                                <img ng-src="{{actuales[1]}}" class="img-thumbnail" ng-click="mostrarImagen(actuales[1])">
                            </div>
                            <div class=" col-xs-2" ng-if=" actuales[2] !== undefined && actuales[2] !== null" >
                                <img ng-src="{{actuales[2]}}" class="img-thumbnail" ng-click="mostrarImagen(actuales[2])">
                            </div>
                            <div class=" col-xs-2" ng-if=" actuales[3] !== undefined && actuales[3] !== null" >
                                <img ng-src="{{actuales[3]}}" class="img-thumbnail" ng-click="mostrarImagen(actuales[3])">
                            </div>

                            <div class=" col-xs-2" ng-if="imagenes.length > 1">
                                <br>
                                <a  ng-click ="nextImagen()" class="btn btn-primary" ng-disabled="fin === imagenes.length - 1">
                                    <span class="glyphicon glyphicon-triangle-right" style="font-size: 3em"></span></a>
                            </div>

                        </div>
                    </div>
                </div>
                <div  class="texto col-xs-5">
                    <h4>Referencia:         {{modeloActual.referencia}}</h4>
                    <br>
                    <h4> Categoria:      {{itemActual.categoria}} </h4>
                    <br>
                    <h4 style="color:DodgerBlue;">{{modeloActual.precio|currency}}</h4>
                    <br>
                    <h4>
                        Color: 
                    </h4>
                    <div class="dropdown text-center">
                        <a class="dropdown-toggle btn btn-default swatch2" data-toggle="dropdown" style="background-color:{{itemActual.color}}"></a>
                        <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <table>
                                <tr ng-repeat="color in colores">
                                    <td>
                                        <div class="swatch swatch-clickable" style="background-color:{{color}}" ></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div style="position: relative;" class="row">
                        <div class="col-sm-4">
                            <a  ui-sref ="addItemCarrito({itemId: modeloActual.items[0].id})" class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart" style="color:white"></span></a>
                        </div>
                        <div class="col-xs-6">
                            <h6 style="font-size: 10px">Agregar Carrito</h6>
                        </div>
                    </div>
                    <br>
                    <div style="position:relative;" class="row">

                        <div class="col-sm-4">
                            <button type="button"  class="btn btn-default" >
                                <a class="glyphiconglyphicon-gift"></a>
                            </button>
                        </div>

                        <h6 style="font-size: 10px">Agregar Lista Deseos</h6>

                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-1"></div>
</div>
<div ng-if="    itemActual === null">
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-3" ></div>
        <div cla    ss="col-xs-6 text-center" >
            <img class="img-responsive" src="data/Imagenes/oops!.png" >
            <br>
            <h2>El modelo no esta disponible!</h2>
        </div>
        <div class="col-xs-3" ></div>
    </div>
</div>