<div class="col-sm-4">
    <div class="container-fluid">
        <form name="modelo"  style="max-width:500px;margin:auto">
            <h2 style="text-align-last: center">
                <i class="fa fa-bicycle icon"></i>
                Editar Modelo
            </h2>
            <label for="modeloId">ID</label>
            <div class="input-container">
                <input id="modeloId" class="input-field" type="text" required ng-model="modeloActual.id" placeholder="{{modeloActual.id}}" >
            </div>
            <label for="modeloCalificacionPromedio">CalificacionPromedio</label>
            <div class="input-container">
                <input id="modeloCalificacionPromedio" class="input-field" type="text" required ng-model="modeloActual.calificacionPromedio" placeholder="{{modeloActual.calificacionPromedio}}" >
            </div>
            <label for="modeloCreacion">Creación</label>
            <div class="input-container">
                <input id="modeloCreacion" class="input-field" type="text" required ng-model="modeloActual.creacion" placeholder="{{modeloActual.creacion}}">
            </div>
            <label for="modeloMarca">Marca</label>
            <div class="input-container">
                <input id="modeloMarca" class="input-field" type="text" required ng-model="modeloActual.marca" placeholder="{{modeloActual.marca}}">
            </div>
            <label for="modeloReferencia">Referencia</label>
            <div class="input-container">
                <input id="modeloReferencia" class="input-field" type="text" required ng-model="modeloActual.referencia" placeholder="{{modeloActual.referencia}}">
            </div>
            <label for="modeloTipoModelo">TipoModelo</label>
            <div class="input-container">
                <input id="modeloTipoModelo" class="input-field" type="text" required ng-model="modeloActual.tipoModelo" placeholder="{{modeloActual.tipoModelo}}">
            </div>
            <br>
            <div class="row col-sm-12">
                <div class="col-sm-5">
                    <button type="submit" ng-click="updateModelo()" class="btn-c">Guardar</button>
                </div>
                <div class="col-sm-5" ng-if="modeloActual.tipo === bicicletas">
                    <button class="btn-c"  ng-click="irBicicletas()">Cancelar</button>
                </div>
                <div class="col-sm-5" ng-if="modeloActual.tipo === accesorios">
                    <button class="btn-c"  ng-click="irAccesorios()">Cancelar</button>
                </div>
            </div>
        </form>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
</div>
