<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid"> 
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                <div class="class-sm-4">
                    <h3>Entre</h3>
                    hola que tal
                    <div ng-repeat="bici in biciActual.album">
                        <div class="thumbnail">
                            <img class="img-responsive" ng-src='{{bici.album[0]}}' alt="bicicleta {{bici.id}}"/>
                        </div>
                    </div>
                </div>
                <div class="col-s-4">
                    <dl>     
                        <dt class="bold"> Categoria :</dt>
                        <dd>{{biciActual.categoria}}</dd>
                        <hr>
                        <dt class="bold">Modelo :</dt>
                        <dd>{{biciActual.modelo}}</dd>
                        <hr>
                        <dt class="bold">Tipo Modelo :</dt>
                        <dd>{{biciActual.tipoModelo}}</dd>
                        <hr>
                        <dt class="bold">Marca : </dt>
                        <dd>{{biciActual.marca}}</dd>
                        <hr>
                        <dt class="bold">Referencia : </dt>
                        <dd>{{biciActual.referencia}}</dd>
                        <hr>
                        <dt class="bold">Color : </dt>
                        <dd>{{biciActual.color}}</dd>
                        <hr>
                        <dt class="bold">Precio : </dt>
                        <dd>{{biciActual.precio}}</dd>
                        <hr>
                        <dt class="bold">Calificación : </dt>
                        <dd>{{biciActual.calificacionPromedio}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Categoria
                </div>
                <div class="panel panel-body">
                    <input type="checkbox" name="cate1"> Infantiles<br>
                    <input type="checkbox" name="cate2"> Ocio<br>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    Modelo
                </div>
                <div class="panel panel-body">
                    <input type="checkbox" name="cate1"> Deportivos<br>
                    <input type="checkbox" name="cate2"> Carretera<br>
                </div>
            </div>
        </div>
    </div>
</div>