 <alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <form class="form-horizontal" name="signUp">
    <!-- Form Name -->
    <legend>Sé vendedor</legend>

    <div class="container">
      <div class="row profile">
        
        <div class="col-md-9">
          <div class="profile-content">
            <fieldset>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Direccion</label>
                <div class="col-md-4">
                   <input id="direccion" class="input-field" type="text" required ng-model="clienteActual.direccion" placeholder="{{clienteActual.direccion}}">             
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Telefono</label>
                <div class="col-md-4">
                  <input id="telefono" class="input-field" type="text" required ng-model="clienteActual.telefono" placeholder="{{clienteActual.telefono}}">             
                </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="btnsave"></label>
                <div class="col-md-8" >
                    <button id="btnsave" name="btnsave" class="btn btn-success" ng-click="createCliente()">Ser Vendedor</button>
                </div>
              </div>

              <div class="alert-warning">
                  <span ng-show="signUp.username.$error.required">
                      Usuario es requerido
                  </span>
                  <span ng-show="signUp.nombre.$error.required">
                      <br>nombre es requerido
                  </span>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>



