<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">

    <table class="table table-striped col-md-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in records">

                <td id="{{$index}}-name">{{record.nombre}}</td>
                <td id="{{$index}}-id">{{record.id}}</td>
            </tr>
        </tbody>
    </table>
</div>