<link rel="stylesheet" href="src/modules/accesorios/crear/create.css"/>
<div class="container-fluid">
    <form name="accesorio"  style="max-width:500px;margin:auto">
        <h2 style="text-align-last: center">
            <i class="fa fa-bicycle icon"></i>
            Editar Accesorio
        </h2>
        <label for="accesorioModelo">Modelo</label>
        <div class="input-container">
            <input id="accesorioModelo" class="input-field" type="text" required ng-model="accesorioActual.modeloId" placeholder="{{accesorioActual.modeloId}}" disabled>
        </div>
        <label for="accesorioPrecio">Precio</label>
        <div class="input-container">
            <input id="accesorioPrecio" class="input-field" type="text" required ng-model="accesorioActual.precio" placeholder="{{accesorioActual.precio}}" >
        </div>
        <label for="accesorioCategoria">Categoria</label>
        <div class="input-container">
            <input id="accesorioCategoria" class="input-field" type="text" required ng-model="accesorioActual.categoria" placeholder="{{accesorioActual.categoria}}">
        </div>
        <div class="row">
            <label for="accesorioColor">Color</label>
            <input id="accesorioColor" type="color" required ng-model="accesorioActual.color" ng-init="accesorioActual.color='{{accesorioActual.color}}'">
        </div>
        <br>
            <div class="row col-sm-12">
            <div class="col-sm-5">
                <button type="submit" ng-click="updateAccesorio()" class="btn-c">Guardar</button>
            </div>
            <div class="col-sm-5">
                <button class="btn-c" ui-sref="accesoriosList">Cancelar</button>
            </div>
        </div>
    </form>
</div>
