<link rel="stylesheet" href="src/modules/catalogo/catalgo.css" />
<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-2 VistaFiltros">
            <div ui-view="filtrosView"></div>
        </div>
        <div class="col-sm-10 main">
            <div class="row" ng-if="adv === true">
                <div class="col-xs-9 VistaCatalogo" >
                    <div ui-view="catalogoView"></div>
                </div>
                <div class="col-xs-3" VistaPublicidad >
                    <div ui-view="advView"></div>
                </div>
            </div>
            <div class="row" ng-if="adv === false" >
                <div class="col-xs-12 VistaCatalogo" >
                    <div ui-view="catalogoView"></div>
                </div>
            </div>
        </div>
    </div>
</div>