<p></p>
<div class="row"> 
    <div class="well"  style="background-color:grey" >
        <div class="row"> 
            <p class="text" style="color: #FFF; font-size: 18px; text-align: center;">Marcas</p>
        </div>
        <div class="row" ng-repeat="marca in marcas">
            <div class="col-xs-2" >
                <input type="checkbox" checked  ng-if="marca.activado">
                <input type="checkbox"  ng-if="!marca.activado">
            </div>
            <div class="col-xs-8" >
                <p class="text" style="color: #FFF; font-size: 12px;">{{marca.nombre}}</p>
            </div>
        </div>
        <div ng-if="marcasCol.length > 0">
            <div id="verMasMarcas" class="collapse">
                <div class="row" ng-repeat="marca in marcasCol">
                    <div class="col-xs-2" >
                        <input type="checkbox" checked  ng-if="marca.activado">
                        <input type="checkbox"  ng-if="!marca.activado">
                    </div>
                    <div class="col-xs-8" >
                        <p class="text" style="color: #FFF; font-size: 12px;">{{marca.nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" >
                    <button type="button" class="btn  btn-success" data-toggle="collapse" data-target="#verMasMarcas" >Ver Mas</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="well"  style="background-color:gray" >
        <div class="row"> 
            <p class="text" style="color: #FFF; font-size: 18px; text-align: center;">Precio</p>
        </div>
        <div class="row">
            <!--Precio chooser.-->
        </div>      
    </div>
</div>
<div class="row"> 
    <div class="well"  style="background-color:gray" >
        <div class="row"> 
            <p class="text" style="color: #FFF; font-size: 18px; text-align: center;">Categoria</p>
        </div>

        <div class="row" ng-repeat="categoria in categorias">
            <div class="col-xs-2" >
                <input type="checkbox" checked  ng-if="categoria.activado">
                <input type="checkbox"  ng-if="!categoria.activado">
            </div>
            <div class="col-xs-8" >
                <p class="text" style="color: #FFF; font-size: 12px;">{{categoria.nombre}}</p>
            </div>
        </div>
        <div ng-if="categoriasCol.length > 0">
            <div id="verMasCategorias" class="collapse">
                <div class="row" ng-repeat="categoria in categoriasCol">
                    <div class="col-xs-2" >
                        <input type="checkbox" checked  ng-if="categoria.activado">
                        <input type="checkbox"  ng-if="!categoria.activado">
                    </div>
                    <div class="col-xs-8" >
                        <p class="text" style="color: #FFF; font-size: 12px;">{{categoria.nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" >
                    <button type="button" class="btn  btn-success" data-toggle="collapse" data-target="#verMasCategorias" >Ver Mas</button>
                </div>
            </div>  
        </div>
    </div>
</div>
<div class="row"> 
    <div class="well"  style="background-color:gray" >
        <div class="row"> 
            <p class="text" style="color: #FFF; font-size: 18px; text-align: center;">Calificacion</p>


            <div class="col-xs-12 text-center" >
                <form class="rating">
                    <label>
                        <input type="radio" name="stars" value="1" />
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="2" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="3" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>   
                    </label>
                    <label>
                        <input type="radio" name="stars" value="4" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                    <label>
                        <input type="radio" name="stars" value="5" />
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                        <span class="icon">★</span>
                    </label>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="row"> 
    <div class="well"  style="background-color:gray" >
        <div class="row"> 
            <p class="text" style="color: #FFF; font-size: 18px; text-align: center;">Color</p>
        </div>
        <div class="row" ng-repeat="color in colores">
            <div class="col-xs-2" >
                <input type="checkbox" checked  ng-if="color.activado">
                <input type="checkbox"  ng-if="!color.activado">
            </div>
            <div class="col-xs-8" >
                <p class="text" style="color: #FFF; font-size: 12px;">{{color.nombre}}</p>
            </div>
        </div>
        <div ng-if="coloresCol.length > 0">
            <div id="verMasColores" class="collapse">
                <div class="row" ng-repeat="color in coloresCol">
                    <div class="col-xs-2" >
                        <input type="checkbox" checked  ng-if="color.activado">
                        <input type="checkbox"  ng-if="!color.activado">
                    </div>
                    <div class="col-xs-8" >
                        <p class="text" style="color: #FFF; font-size: 12px;">{{color.nombre}}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center" >
                    <button type="button" class="btn  btn-success" data-toggle="collapse" data-target="#verMasColores" >Ver Mas</button>
                </div>
            </div>  
        </div>
    </div>
</div>