
.div-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Imagen{
    overflow: hidden;
}
.img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;   
    transform:scale(1);
}

.i[class*="fa"]{
    word-spacing: -.25em;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #82CD73;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active):not(.disabled) {
    background-color: #ddd;
    border-radius: 5px;
}
.c-nuevo{
    position: absolute;
    top: 1px;
    overflow: hidden;
    width: 80px;
    height:80px;
    z-index:1;
}
.nuevo{
    -webkit-transform: rotate(-40deg);
     width: 100px;
    font-size: 12px;
    font-weight: 700;
    text-align:center;
    text-transform:uppercase;
    line-height: 20px;
    margin-right:20px;
    margin-top: 15px;
    margin-left:-18px;
    color:white;
    z-index:2;
    background-color: green;
    transform: rotate(-40deg);
}
.nuevo:before {
    left: 0;
    bottom: 5px;
    background-color: #007a2d;
    height: 7px;
}
.nuevo:before, .nuevo:after {
    position: absolute;
    width: 5px;
    height: 5px;
    content: '';
    z-index: 1;
}
