.triangulo {
    width: 80px;
    font-size: 10px;
    font-weight: 100;
    text-align:center;
    text-transform:uppercase;
    line-height: 18px;
    margin-left:-55px;
    margin-top:-33px;
    margin-right:50px;
    color:white;
    z-index:3;
    transform: rotate(-45deg);
}

.c-triangulo{
     width: 0;
     height: 0;
     border-right: 35px solid transparent;
     border-top: 35px solid red;
     border-left: 35px solid red;
     border-bottom: 35px solid transparent;
     z-index:2;
}