<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}}</alert>
<div class="container-fluid">    
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Facturas</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                    </div>
                </div>
                <div class="col-md-8">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>   
                                <th>Dinero</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="factura in facturas2">
                                <td id="{{$index}}-id"><a ui-sref="facturaDetail({facturaId:factura.id})">{{factura.id}}</a></td>
                                <td id="{{$index}}-dinero">{{factura.dinero}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
