<link rel="stylesheet" href="src/modules/bicis/crear/create.css"/>
<div class="container-fluid">
    <form name="bicicleta"  style="max-width:500px;margin:auto">
        <h2 style="text-align-last: center">
            <i class="fa fa-bicycle icon"></i>
            Agregar Bicicleta
        </h2>
        <label for="bicicletaUsadaModelo">Modelo</label>
        <div class="input-container">
            <input id="bicicletaUsadaModelo" class="input-field" type="text" required ng-model="data.modeloId" placeholder="Id del modelo" >
        </div>
        <label for="bicicletaUsadaPrecio">Precio</label>
        <div class="input-container">
            <input id="bicicletaUsadaPrecio" class="input-field" type="text" required ng-model="data.precio" placeholder="Precio">
        </div>
        <label for="bicicletaUsadaCategoria">Categoria</label>
        <div class="input-container">
            <input id="bicicletaUsadaCategoria" class="input-field" type="text" required ng-model="data.categoria" placeholder="Categoria" >
        </div>
        <label for="bicicletaUsadaFacturaOriginal">Factura Original</label>
        <div class="input-container">
            <input id="bicicletaUsadaFacturaOriginal" class="input-field" type="text" required ng-model="data.facturaOriginal" placeholder="FacturaOriginal" >
        </div>
        <div class="row">
            <label for="bicicletaUsadaColor">Color</label>
            <input id="bicicletaUsadaColor" type="color" required ng-model="data.color" ng-init="data.color='#000000'">
        </div>
        <br>
        <div class="row col-sm-12">
            <div class="col-sm-5">
                <button type="submit" ng-click="createBiciUsada()" class="btn-c">Crear</button>
            </div>
            <div class="col-sm-5">
                <button class="btn-c" ng-click="volver()">Cancelar</button>
            </div>
        </div>
    </form>
</div>
