vertical-menu {
    width: 50px;
    position: fixed;
}

.vertical-menu a {
    background-color: #424949;
    color: white;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #1B2631;
}

.vertical-menu a.active {
    background-color: black;
    color: white;
}