.top-buffer { margin-top: 80px;}

.top-buffer2 { margin-top: 130px;}

.top-buffer10 { margin-top: 10px;}

.grisClarito {
	background-color: whiteSmoke;
}

.grisClarito2 {
	background-color: LightGray;
}
