<link rel="stylesheet" href="src/modules/bicis/crear/create.css"/>
<div class="container-fluid">
    <form name="bicicleta"  style="max-width:500px;margin:auto">
        <h2 style="text-align-last: center">
            <i class="fa fa-bicycle icon"></i>
            Editar Bicicleta
        </h2>
        <label for="bicicletaModelo">Modelo</label>
        <div class="input-container">
            <input id="bicicletaModelo" class="input-field" type="text" required ng-model="biciActual.modeloId" placeholder="{{biciActual.modeloId}}" disabled>
        </div>
        <label for="bicicletaPrecio">Precio</label>
        <div class="input-container">
            <input id="bicicletaPrecio" class="input-field" type="text" required ng-model="biciActual.precio" placeholder="{{biciActual.precio}}" >
        </div>
        <label for="bicicletaCategoria">Categoria</label>
        <div class="input-container">
            <input id="bicicletaCategoria" class="input-field" type="text" required ng-model="biciActual.categoria" placeholder="{{biciActual.categoria}}">
        </div>
        <div class="row">
            <label for="bicicletaColor">Color</label>
            <input id="bicicletaColor" type="color" required ng-model="biciActual.color" ng-init="biciActual.color='{{biciActual.color}}'">
        </div>
        <br>
            <div class="row col-sm-12">
            <div class="col-sm-5">
                <button type="submit" ng-click="updateBici()" class="btn-c">Guardar</button>
            </div>
            <div class="col-sm-5">
                <button class="btn-c" ui-sref="bicisList">Cancelar</button>
            </div>
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
