

<div class = "container-fluid" id = "div1">

    <table class = "table">
        <tr ng-repeat="item in listaDeseos.items">
            <td>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-2" ng-repeat='foto in item.album|limitTo:1'>
                            <img src="{{foto}}" class="img-responsive center-block" alt="Cinque Terre" style="width:100px;height:100px;">
                        </div>
                        <div class="col-md-4">
                            <p>
                                Modelo: {{item.modeloId}}<br>
                                Tipo Modelo: {{item.tipo}}<br>
                                Referencia: <br>
                                Color: {{item.color}}
                            </p>
                        </div>
                        <div class="col-md-2">
                            <p>Precio:</p>
                            <h4>${{item.precio}}</h4>
                        </div>
                        <div class="col-md-1">
                            <p>Cantidad:</p>

                            <label>{{item.cantidad}}</label>

                        </div>
                        <div class="col-md-1">
                            <p>Eliminar</p>
                            <a onclick="delete(0)" class="btn btn-danger"><span class="glyphicon glyphicon-trash" style="color:white"></span></a>
                        </div>
                        <div class="col-md-2">
                            <p>Agregar al Carrito</p>
                            <a onclick="delete(0)" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart" style="color:white"></span></a>
                        </div>
                    </div>
                </div> 
            </td>
        </tr>
    </table>
    <div class="container-fluid footer" >
        <style>
            .footer {
                position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 50px;
                background-color: black;
                color: white;
            }
        </style>    
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <a ui-sref="catalogo" class="btn btn-success text-white" style="margin-top: 10px">Volver</a>
                </div>
                <div class="col-md-2 top-buffer10 text-white" style="margin-top: 10px">
                    <p style="margin-top: 5px">Total: ${{carrito.precioTotal}}</p>
                </div>
                <div class="col-md-2">
                    <a ui-sref="carrito" class="btn btn-success text-white " style="margin-top: 10px">Vaciar</a>
                </div>
            </div>
        </div>
    </div>

</div>