<link rel="stylesheet" href="src/modules/bicis/crear/create.css"/>
<div class="container-fluid">
    <form name="factura"  style="max-width:500px;margin:auto">
        <h2 style="text-align-last: center">
            <i class="fa fa-cog icon"></i>
            Editar Factura
        </h2>
        <label for="facturaDinero">Dinero</label>
        <div class="input-container">
            <input id="facturaDinero" class="input-field" type="text" required ng-model="facturaActual.dinero" placeholder="{{facturaActual.dinero}}">
        </div>
        
        <br>
        <div class="row col-sm-12">
            <div class="col-sm-5">
                <button type="submit" ng-click="updateFactura()" class="btn-c">Guardar</button>
            </div>
            <div class="col-sm-5">
                <button class="btn-c" ui-sref="facturasList">Cancelar</button>
            </div>
        </div>
    </form>
    <br><br><br><br><br><br><br><br><br>
</div>
