 <alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
 <form class="form-horizontal">
    <!-- Form Name -->
    <legend>SignUp</legend>

    <div class="container">
      <div class="row profile">
        
        <div class="col-md-9">
          <div class="profile-content">
            <fieldset>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Username</label>
                <div class="col-md-4">
                  <input id="usuario" name="textinput" type="text" required ng-model="data.usuario" placeholder="UserName" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Nombre</label>
                <div class="col-md-4">
                  <input id="nombre" name="textinput" type="text" required ng-model="data.nombre" placeholder="nombre" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Cedula</label>
                <div class="col-md-4">
                  <input id="cedula" name="textinput" type="text" required ng-model="data.cedula" placeholder="cedula" class="form-control input-md">

                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Email</label>
                <div class="col-md-4">
                  <input id="correo" name="textinput" type="text" required ng-model="data.correo" placeholder="tu email" class="form-control input-md">

                </div>
              </div>

              <!-- Button (Double) -->
              <div class="form-group">
                <label class="col-md-4 control-label" for="btnsave"></label>
                <div class="col-md-8">
                  <button id="btnsave" name="btnsave" class="btn btn-success" ng-click="createCliente()">Ingresar</button>
                </div>
              </div>

            </fieldset>
          </div>
        </div>
      </div>
    </div>


  </form>
 


